#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        tocharacters {
            bindings = <&to 1>;
            key-positions = <16 15 14>;
            layers = <0>;
        };

        tonumpad {
            bindings = <&to 2>;
            key-positions = <16 15 14>;
            layers = <1>;
        };

        tomain {
            bindings = <&to 0>;
            key-positions = <16 15 14>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main {
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E         &kp R    &kp T        &kp Y  &kp U  &kp I      &kp O    &kp P     &kp BACKSPACE
&kp LEFT_SHIFT  &kp A  &kp S  &kp D         &kp F    &kp G        &kp H  &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL       &kp Z  &kp X  &kp C         &kp V    &kp B        &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESCAPE
                              &kp LEFT_WIN  &kp RET  &kp SPACE    &kp A  &kp B  &kp C
            >;
        };

        characters {
            bindings = <
&kp TAB         &kp EXCL  &kp AT  &kp HASH      &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BACKSPACE
&kp LEFT_SHIFT  &none     &none   &none         &none     &none        &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&kp LCTRL       &none     &none   &none         &none     &none        &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                                  &kp LEFT_ALT  &kp RET   &kp SPACE    &none      &none      &none
            >;
        };

        numpad {
            bindings = <
&kp TAB         &none  &none           &kp UP_ARROW    &none            &none        &kp N7  &kp N8  &kp N9  &kp PLUS   &kp STAR  &kp BACKSPACE
&kp LEFT_SHIFT  &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none        &kp N4  &kp N6  &kp N5  &kp MINUS  &kp FSLH  &none
&kp LCTRL       &none  &none           &none           &none            &none        &kp N1  &kp N2  &kp N3  &kp N0     &kp DOT   &kp ESCAPE
                                       &kp LEFT_ALT    &kp RET          &kp SPACE    &none   &none   &none
            >;
        };
    };
};
